
*{
  margin: 0;
}
body {
  background-color: #ffffff; 
  color: #000000; 
  
}

/* navigation structure styling */
.nav{
  background-color:#00bf63;
  overflow: hidden;
  position: relative;
}

.nav a{
  color: black;
  text-align: center;
  padding: 14px 16px !important;
  text-decoration: none; 
  font-size: 17px;
  float: left;
}

.nav a:hover {
background-color: #00934c;
color: #000000;
} 

.nav a:active {
  color: #000000;
  background-color: rgba(0, 147, 76, 0.767)
}

.home-container {

  display: flex !important;
  flex-direction: column-reverse;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 50px;  
  }
  
  .home-container img {
    width: 50%;
    padding-bottom: 20px;
  }

.control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.home-container {

display: flex !important;
flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 50px;  
}

.home-container img {
  width: 50%;
  padding-top: 20px;
}


.button {
  transition: background-color 0.2s;
  color: white;
  background-color: #00BF63;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:hover {
  cursor: pointer;
  background-color: #00934c;
}

.svg {
  padding-right: 10px;
}

input[type=search]{
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

/* Heading styling */
h1{
  padding: 50px 0px 50px;
  text-align: center;
}

p{
  
  text-align: center;
}

form{
  text-align: left; 
}

.button-container{
  margin-top: 100px;
  text-align: center;

}

body {
  font-family: "Noto Sans", sans-serif;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 1px grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
}

.content-table thead {
  background-color: #00BF63;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px; 
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}