
*{
    margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

/* navigation structure styling */
.nav{
    background-color:    #00BF63;
    overflow: hidden;
    position: relative;
    
}

.nav a{
    
    color: #000000;
    /* text-align: center; */
    padding: 14px 16px !important;
    text-decoration: none; 
    font-size: 17px;
    transition: background-color 0.3s;
}

.nav a img {
  position: absolute;
  right: 0;
  bottom: 0;
   padding: 0 !important;
  height: 100%;
}

.nav a:hover {
  background-color: #fff;
  color: black;
  transition: 0,3s;
}

.nav a img:hover {
  background-color: #00BF63 ;
}

.nav a.active {
  background-color:  #00BF63;
  color: white;
}



/* Heading styling */
h1{
  text-align: center;
}

p{
  
  text-align: center;
}

form{
  text-align: left; 
}





 


































































.button-container{
  margin-top: 100px;
  text-align: center;

}

/* Buttons styling */
.main-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 1s ease;
}

.main-button:hover::before  {
  background: linear-gradient(
    45deg,
    
  
    #ffffff,
    #9070d7,
    #9070d7,
    #9070d7,
    #9070d7,
    #ffffff


  );
  transition: 1s ease;

}

.main-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    
  
    #ffffff,
    #00BF63,
    #00BF63,
    #00BF63,
    #00BF63,
    #ffffff


  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

body {
  font-family: "Noto Sans", sans-serif;
}